@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.interFont {
  font-family: "Inter", sans-serif;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-gadget,
.goog-te-banner {
  display: none !important;
}

body {
  top: 0px !important;
}

.skiptranslate {
  display: none;
}